body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(level1.jpg);
}
.navlist ul{
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;
    float: right;
    font-size: 20px;
    font-weight: bolder;
}
li{
    background-color: aliceblue;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}
li a{
    text-decoration: none;
}
a:visited{
    color:rgb(63, 73, 184);
}
a:hover{
    color:black;
}
a:active{
    color:rgb(0, 221, 255);
}
h1{
    color: rgb(19, 214, 201);
    padding-top: 100px;
    text-align: center;
    font-size: 45px;
}
p{
    color: rgb(140, 194, 14);
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}
form{
    color: antiquewhite;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 25px;
}
input{
    justify-content: center;
    width: 25%;
    margin-bottom: 30px;
    box-sizing: border-box;
}
button{
    background-color: rgb(0, 204, 255);
    color: rgb(134, 87, 24);
    padding: 5px;
}